
/*new background settings*/
html { 
  background: url(http://content.sportslogos.net/news/2017/01/Super-Bowl-LII-Minnesota-2018-590x491.jpg) no-repeat center center fixed; 
  background-size: 60%;
}


body{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

h1{
  background-color: black;
  color: gold;
  font-size: 40px;
  margin: 150px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: gold;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background:black;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: grey;
    display: inline-block;
}
.footer{
    width: 100%;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}